<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% include 'includes/servername.html' %}</title>
    {% include 'includes/default_links.html' %}
</head>
<body>
<div class="container text-center header abel d-flex justify-content-between align-items-end position-relative" style="padding-top: 30px; height: 100px;">
    <div class="row w-100 align-items-center">
        <div class="col big-text align-self-end">
            InfectZ
        </div>
    </div>
</div>
<div class="container abel d-flex justify-content-between align-items-end position-relative">
    <div class="row w-100 align-items-center">
        <div class="col">
            asdasdasda
        </div>
        <div class="col">
            dasdasdasdas
        </div>
    </div>

    {% include 'includes/logged_scripts.html' %}
</div>
</body>
</html>