<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% include 'includes/servername.html' %}</title>
    {% include 'includes/default_links.html' %}
</head>
<body>

{% include 'includes/header.html' %}

    <div class="container full justify-content-center text-center slogan big-text emph margin-top-medium">
        PAGAMENTO
    </div>

    <div class="container d-flex justify-content-center align-items-end position-relative margin-top-low">
        <div class="cart text-center">
            <div class="payment-content scrollable-container">
                {% for cart_item in cart_items %}
                <div class="cart-item row p-10">
                    <div class="col-auto p-0 small-icon">
                        <div class="image-container">
                            <img src="{{ cart_item["image"] | e }}">
                        </div>
                    </div>
                    <div class="col-6 text-left flex-grow-1">
                        <div class="medium-text abel"><b>{{ cart_item["name"] | e }}</b></div>
                        <div class="small-text abel">R${{ (cart_item["price"] * cart_item["count"]) | e }}</div>
                    </div>
                    <div class="col-2 flex-grow-1 center abel">
                        {{ cart_item["count"] | e }}x R${{ cart_item["price"] | e }}
                    </div>
                </div>
                {% endfor %}
            </div>

        <hr>

            <div class="w-100 mt-3">
                <div class="row abel">
                    <div class="col text-start">Subtotal:</div>
                    <div class="col text-end">R${{ total_price | e}}</div>
                </div>
                <div class="row abel">
                    <div class="col text-start">Descontos:</div>
                    <div class="col text-end">R$0.00</div>
                </div>
                <div class="row abel">
                    <div class="col text-start">Total:</div>
                    <div class="col text-end">R${{ total_price | e}}</div>
                </div>
                <div class="row abel mt-2">
                    <div class="col-md-9">
                        <input id="input" class="w-100 form-control" type="text" placeholder="Cupom de desconto">
                    </div>
                    <div class="col center">
                        <button class="button-primary h-100">Resgatar</button>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button class="button-cancel abel padding-tb-low">
                            Cancelar
                        </button>
                    </div>
                    <div class="col">
                        <button class="button-primary abel padding-tb-low">
                            Gerar código PIX
                        </button>
                    </div>
                </div>
                <div class="row abel d-flex justify-content-center align-items-center mt-2">
                    <p class="mb-0">Ao prosseguir com o pagamento, você concorda com nossos <a href="#" class="custom-underline">Termos de Serviço</a>.</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/logged_scripts.html' %}
    <script src="/static/js/feedback.min.js" ></script>

</body>
</html>